@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Black.eot");
  src: url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.ttf") format("truetype"), url("../fonts/CircularStd-Black.svg#CircularStd") format("svg");
  font-weight: 900;
  font-style: normal; }

.col-xs,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9 {
  padding-right: 0;
  padding-left: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

html {
  height: 100%;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  color: #a2abb5;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #f9ddd6 url("../img/floral_tan.jpg");
  background-size: 1440px auto;
  background-repeat: repeat;
  background-position: center center; }

.fixed {
  position: fixed;
  overflow-y: scroll;
  height: 100%; }

h1 {
  font-size: 1.75em;
  font-family: 'CircularStd', sans-serif;
  color: #242333;
  letter-spacing: -.016em;
  line-height: 1.143; }

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875em;
  color: #242333;
  font-weight: 600; }

ul {
  margin: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0; }

p {
  font-size: 0.938em;
  letter-spacing: 0.015em;
  line-height: 1.666;
  margin-bottom: 25px; }

a {
  text-decoration: none;
  color: #242333; }

.btn {
  font-size: 0.875em;
  font-weight: 500;
  padding: 18px 32px;
  background: #ff6687;
  color: #ffffff;
  border-radius: 100px;
  display: inline-block; }

.main {
  background: #ffffff;
  margin: 18px;
  padding: 42px 42px 8px 42px;
  overflow: auto; }

.nav-mobile .menu .menu__bg {
  position: absolute;
  right: 61px;
  top: 61px;
  width: 36px;
  height: 36px;
  background: #ff6687;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }

.nav-mobile .menu .menu__icon {
  width: 14px;
  position: relative; }
  .nav-mobile .menu .menu__icon span {
    width: 100%;
    height: 2px;
    background: #ffffff;
    display: block;
    border-radius: 100px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
    .nav-mobile .menu .menu__icon span:nth-child(1) {
      width: 8px; }
    .nav-mobile .menu .menu__icon span:nth-child(2) {
      margin: 4px auto; }
    .nav-mobile .menu .menu__icon span:nth-child(3) {
      width: 8px;
      margin-bottom: 0;
      margin-left: auto; }

.nav-mobile .menu--open .menu__bg {
  background: #ffbdc9 !important; }

.nav-mobile .menu--open .menu__icon span {
  width: 100% !important;
  -webkit-transform-origin: 50% 50% !important;
  -ms-transform-origin: 50% 50% !important;
  transform-origin: 50% 50% !important; }
  .nav-mobile .menu--open .menu__icon span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(4px, 4px);
    -ms-transform: rotate(45deg) translate(4px, 4px);
    transform: rotate(45deg) translate(4px, 4px); }
  .nav-mobile .menu--open .menu__icon span:nth-child(2) {
    opacity: 0; }
  .nav-mobile .menu--open .menu__icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(4px, -4px);
    -ms-transform: rotate(-45deg) translate(4px, -4px);
    transform: rotate(-45deg) translate(4px, -4px); }

.nav-mobile ul {
  display: none; }

.nav-mobile .nav-mobile-bg {
  position: absolute;
  right: 61px;
  top: 61px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f9ddd6 url("../img/floral_pink.jpg");
  background-size: 1440px auto;
  background-position: center center;
  background-repeat: repeat;
  -webkit-transition: all .6s linear;
  -o-transition: all .6s linear;
  transition: all .6s linear; }

.nav-mobile--open ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  list-style-type: none;
  z-index: 2;
  opacity: 1; }
  .nav-mobile--open ul li {
    text-align: center;
    -webkit-animation: slide-down 1s linear;
    animation: slide-down 1s linear; }
    .nav-mobile--open ul li a {
      color: #ffffff;
      font-size: 1.75em;
      font-family: 'CircularStd', sans-serif;
      letter-spacing: -.016em;
      line-height: 1.143;
      margin: 15px 0;
      display: block; }
      .nav-mobile--open ul li a span {
        color: #ffbdc9; }

.nav-mobile--open .nav-mobile-bg {
  width: 250vh;
  height: 250vh;
  top: calc(-125vh + 78px);
  right: calc(-125vh + 78px); }

.header .header__logo {
  width: 42px;
  height: auto;
  display: block; }

.header .nav-desktop {
  display: none; }

.intro {
  margin: 40px auto; }
  .intro .intro__bio .hello-icon {
    width: 40px;
    height: auto; }
  .intro .intro__bio h1 {
    margin-top: 17px; }
  .intro .intro__illustration {
    display: none; }

footer .footer__contact-link {
  border-top: 2px solid #f1f2f4;
  padding: 27px 0; }
  footer .footer__contact-link h2 {
    margin: 0 0 5px; }
  footer .footer__contact-link p {
    margin: 0; }

footer .footer__contact-arrow {
  border-top: 2px solid #f1f2f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  footer .footer__contact-arrow .arrow {
    width: 15px;
    height: auto; }

#tr-footer {
  width: 100%;
  height: 1px;
  background: transparent; }

@media (min-width: 48em) {
  .nav-mobile {
    display: none; }
  .header .nav-desktop {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .nav-desktop li {
      display: inline;
      font-size: 1.0625em; }
      .header .nav-desktop li:nth-of-type(2) {
        margin: 0 40px; }
      .header .nav-desktop li .fa-stack {
        display: inline-block;
        height: 36px;
        line-height: 36px;
        position: relative;
        vertical-align: middle;
        width: 36px; }
      .header .nav-desktop li .fa-2x {
        font-size: 0.9375em; }
      .header .nav-desktop li .fa-stack-2x {
        font-size: 37px; }
      .header .nav-desktop li .fa-stack-1x {
        left: 1px; } }
