@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Black.eot");
  src: url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.ttf") format("truetype"), url("../fonts/CircularStd-Black.svg#CircularStd") format("svg");
  font-weight: 900;
  font-style: normal; }

.col-xs,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9 {
  padding-right: 0;
  padding-left: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

nav {
  border: 1px solid #242333; }

html {
  height: 100%;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #a2abb5;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #f9ddd6 url("../img/floral_tan.jpg");
  background-size: 1440px auto;
  background-repeat: repeat;
  background-position: center center; }

.fixed {
  position: fixed;
  overflow-y: scroll; }

h1 {
  font-size: 1.75em;
  font-family: 'CircularStd', sans-serif;
  color: #242333;
  letter-spacing: -.016em;
  line-height: 1.143; }

ul {
  margin: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0; }

p {
  font-size: 0.938em;
  letter-spacing: 0.015em;
  line-height: 1.666;
  margin-bottom: 25px; }

a {
  text-decoration: none;
  color: #242333; }

.btn {
  font-size: 0.875em;
  font-weight: 500;
  padding: 18px 32px;
  background: #ff6687;
  color: #ffffff;
  border-radius: 100px;
  display: inline-block; }

.main {
  background: #ffffff;
  margin: 18px;
  padding: 42px; }

.header .header__logo {
  width: 42px;
  height: auto;
  display: block; }

.header .nav-desktop {
  display: none; }

.nav-mobile ul {
  display: none; }

.nav-mobile .nav-mobile-bg {
  position: absolute;
  right: 60px;
  top: 60px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f9ddd6 url("../img/floral_pink.jpg");
  background-size: 1440px auto;
  background-position: center center;
  background-repeat: repeat;
  -webkit-transition: all .6s linear;
  -o-transition: all .6s linear;
  transition: all .6s linear; }

.nav-mobile--open ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  list-style-type: none;
  z-index: 2; }
  .nav-mobile--open ul li {
    text-align: center; }
    .nav-mobile--open ul li a {
      color: #ffffff;
      font-size: 1.75em;
      font-family: 'CircularStd', sans-serif;
      letter-spacing: -.016em;
      line-height: 1.143;
      margin: 15px 0;
      display: block; }

.nav-mobile--open .nav-mobile-bg {
  width: 250vh;
  height: 250vh;
  top: calc(-125vh + 78px);
  right: calc(-125vh + 78px); }

.menu .menu__bg {
  position: absolute;
  right: 60px;
  top: 60px;
  width: 36px;
  height: 36px;
  background: #ff6687;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }

.menu .menu__icon {
  width: 14px;
  position: relative; }
  .menu .menu__icon span {
    width: 100%;
    height: 2px;
    background: #ffffff;
    display: block;
    border-radius: 100px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
    .menu .menu__icon span:nth-child(1) {
      width: 8px; }
    .menu .menu__icon span:nth-child(2) {
      margin: 4px auto; }
    .menu .menu__icon span:nth-child(3) {
      width: 8px;
      margin-bottom: 0;
      margin-left: auto; }

.menu--open .menu__bg {
  background: #ffbdc9 !important; }

.menu--open .menu__icon span {
  width: 100% !important;
  -webkit-transform-origin: 50% 50% !important;
  -ms-transform-origin: 50% 50% !important;
  transform-origin: 50% 50% !important; }
  .menu--open .menu__icon span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(4px, 4px);
    -ms-transform: rotate(45deg) translate(4px, 4px);
    transform: rotate(45deg) translate(4px, 4px); }
  .menu--open .menu__icon span:nth-child(2) {
    opacity: 0; }
  .menu--open .menu__icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(4px, -4px);
    -ms-transform: rotate(-45deg) translate(4px, -4px);
    transform: rotate(-45deg) translate(4px, -4px); }

.intro {
  margin: 40px auto; }

.intro__bio .hello-icon {
  width: 40px;
  height: auto; }

.intro__bio h1 {
  margin-top: 17px; }

.illustration {
  display: none; }

footer .col-xs-12 {
  border-top: 2px solid #f1f2f4; }

@media (min-width: 48em) {
  .menu,
  .nav-mobile {
    display: none; }
  .header .nav-desktop {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .header .nav-desktop li {
      display: inline; }
      .header .nav-desktop li:nth-of-type(2) {
        margin: auto 40px; } }
