// remove margins from columns in flexboxgrid //

.col-xs,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9 {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}






.wow { 
	visibility: hidden;
}

@keyframes slide-up {
      0% { opacity: 0; -webkit-transform: translateY(75%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes slide-out {
      0% { opacity: 1; -webkit-transform: translateY(0); }   
    100% { opacity: 0; -webkit-transform: translateY(-1rem); }
}

@keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-1.5rem); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fade-in {
      0% { opacity: 0; }   
    100% { opacity: 1; }
}
