@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Black.eot');
    src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CircularStd-Black.woff2') format('woff2'),
         url('../fonts/CircularStd-Black.woff') format('woff'),
         url('../fonts/CircularStd-Black.ttf')  format('truetype'),
         url('../fonts/CircularStd-Black.svg#CircularStd') format('svg');
    font-weight: 900;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');