$white:		    #ffffff;
$gray:        #a2abb5;
$gray-light:  #f1f1f1;
$gray-light:  #f1f2f4;
$black:       #242333;
$pink:        #ff6687;
$pink-light:  #ffbdc9;
$tan:         #f9ddd6;

@import "fonts";
@import "effects";

.div { border: 1px solid $black; }

html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $gray;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: $tan url("../img/floral_tan.jpg");
  background-size: 1440px auto;
  background-repeat: repeat;
  background-position: center center;
}

.body--fixed {
  position: fixed;
  overflow-y: scroll;
  height: 100%;
}

h1 {
  font-size: 1.75em;
  font-family: 'CircularStd', sans-serif;
  color: $black;
  letter-spacing: -.016em;
  line-height: 1.143;
}

h2 {
  font-size: 1.5em;
  font-family: 'CircularStd', sans-serif;
  color: $black;
  letter-spacing: -.016em;
  line-height: 1.143;
}

h3 {
  font-size: 1.25em;
  font-family: 'CircularStd', sans-serif;
  color: $black;
  letter-spacing: -.016em;
  line-height: 1.143;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875em;
  color: $black;
  font-weight: 600;
}

ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

p {
  font-size: 0.938em;
  letter-spacing: 0.015em;
  line-height: 1.666;
  color: $gray;
}

a {
  text-decoration: none;
  color: $black;
}

.row {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-size: 0.875em;
  font-weight: 500;
  padding: 18px 32px;
  background: $pink;
  color: $white;
  border-radius: 100px;
  display: inline-block;
}

// .loading {
//   width: 100%;
//   height: 100%;
//   background-color: $white;
//   position: fixed;
//   top: 0;
//   z-index: 999;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transition: transform .6s ease-in-out .6s;
// 
//   .loading__container {
//     width: 100%;
//   }
// 
//   img {
//     width: 42px;
//     height: auto;
//     display: block;
//     margin: 0 auto;
//     animation: slide-up .6s ease-in-out;
//     animation-fill-mode: forwards;
//   }
// 
// }

// .loading--ready {
//   transform: translateY(-100%);
// 
//   img {
//     animation: slide-out .6s ease-in-out;
//     animation-fill-mode: forwards;
//   }
// }

.nav-mobile {

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    list-style-type: none;
    opacity: 0;
    z-index: 2;

    transition: opacity .3s ease-in-out;

    li {
      text-align: center;

      a {
        color: $white;
        font-size: 1.75em;
        font-family: 'CircularStd', sans-serif;
        letter-spacing: -.016em;
        line-height: 1.143;
        margin: 20px 0;
        display: block;

        span {
          color: $pink-light;
        }
      }
    }
  }

  .menu {
  
    .menu__bg {
      position: absolute;
      right: 66px;
      top: 66px;
      width: 36px;
      height: 36px;
      background: transparent;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
  
      transition: all .3s ease-in-out;
    }
  
    .menu__icon {
      width: 14px;
      position: relative;
          
      span {
        width: 100%;
        height: 2px;
        background: $white;
        display: block;
        border-radius: 100px;
  
        transition: all .3s ease-in-out;
    
          &:nth-child(1) {
            width: 8px;
          }
  
          &:nth-child(2) {
            margin: 4px auto;
          }
    
          &:nth-child(3) {
            width: 8px;
            margin-bottom: 0;
            margin-left: auto;
          }
      }
    }
  }
  
  .menu--open {
  
    .menu__bg {
      background: $pink-light !important;
    }
  
    .menu__icon {
    
      span {
        width: 100% !important;
        transform-origin: 50% 50% !important;
    
        &:nth-child(1) {
          transform: rotate(45deg) translate(4px, 4px);
        }
             
        &:nth-child(2) {
          opacity: 0;
        }
             
        &:nth-child(3) {
          transform: rotate(-45deg) translate(4px, -4px);
        }
      }
    }
  }

  .nav-mobile-bg {
    position: absolute;
    right: 66px;
    top: 66px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: $tan url("../img/floral_pink.jpg");
    background-size: 1440px auto;
    background-position: center center;
    background-repeat: repeat;
    z-index: 1;
  
    transition: all .6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
}
  
.nav-mobile--open {
  
  ul {
    opacity: 1;

    li {
        opacity: 0; // Prevent loading flash
        &:nth-of-type(1) { animation: slide-down .6s ease-in-out .3s; animation-fill-mode: forwards; }
        &:nth-of-type(2) { animation: slide-down .6s ease-in-out .4s; animation-fill-mode: forwards; }
        &:nth-of-type(3) { animation: slide-down .6s ease-in-out .5s; animation-fill-mode: forwards; }
        &:nth-of-type(4) { animation: slide-down .6s ease-in-out .6s; animation-fill-mode: forwards; }
    }
  }

  .nav-mobile-bg {
    width: 250vh;
    height: 250vh;
    top: calc(-125vh + 83px);
    right: calc(-125vh + 83px);
  }
}

.main {
  background: $white;
  margin: 20px;
  padding: 45px;
}

.header {

  .header__logo {
    width: 42px;
    height: auto;
    display: block;
  }

  .nav-desktop {
    display: none;
  }
}

.intro {
  margin: 40px auto;

  .intro__bio {
  
    .hello-icon {
      width: 40px;
      height: auto;
    }
  
    h1 { 
      margin-top: 17px;
    }

    p {
      margin-bottom: 25px;
    }
  }

  .intro__illustration {
    display: none;
  }
}

.resume {
  border: 1px solid red;

  h1, h2 {
    margin: 0;
  }
}

footer {

  .col-xs-12 {
    border-top: 2px solid $gray-light;
    padding: 27px 0;

    &:nth-of-type(2) {
      padding-bottom: 0;
    }
  }

  .footer--container {
    position: relative;

    a {
      display: block;
    }

    h4 {
      margin: 0 0 5px;
    }

    p {
      margin: 0;
    }

    img {
      width: 15px;
      height: auto;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0%, -50%);
    }
  }
}

.mobile-fix {
  width:100%;
  height: 1px;
  background:transparent;
}

// 768px+
@media (min-width: 48em) {


}

// 1024px+
@media (min-width: 64em) {

  h1 {
    font-size: 3em;
    line-height: 1.083;
  }

  h2 {
    font-size: 2.625em;
    line-height: 1.083;
  }

  h3 {
    font-size: 2.5em;
    line-height: 1.083;
  }

  p {
    font-size: 1.063em;
    margin-top: 0;
    color: $gray;
  }

  .btn {
    font-size: 1em;
    padding: 18px 32px;
  }

  .main {
    margin: 50px;
    padding: 55px;
  }
  
  .header {
  
    .header__logo {
      width: 50px;
    }
  
  }

  .nav-mobile {
    display: none;
  }

  .header {

    .nav-desktop {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        display: inline;
        font-size: 1.0625em;
        margin-left: 80px;

        .fa-stack {
          display: inline-block;
          height: 36px;
          line-height: 36px;
          position: relative;
          vertical-align: middle;
          width: 36px;
        }
        
        .fa-2x {
            font-size: 0.9375em;
            color: $pink;
        }
        
        .fa-stack-2x {
            font-size: 37px;
        }
  
        .fa-stack-1x {
          left: 1px;
        }
      }
    }
  }

  .intro {
    margin: 100px auto;

    .intro__bio {
  
      .hello-icon {
        width: 56px;
      }
    
      h1 { 
        margin-top: 17px;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 32px;
      }
    }
  
    .intro__illustration {
      display: block;
      text-align: right;

      img {
        width: 100%;
        height: auto;
        max-width: 442px;
      }
    }
  }

  footer {

    .col-xs-12 {
      padding: 50px 0 0;
    }

    .footer--container {

      h4 {
        font-size: 1em;
      }

      p {
        font-size: 1.063em;
      }

    }
  }

}

// 1200px+
@media (min-width: 75em) {

}
