$white:		#ffffff;
$gray:    #a2abb5;
$black:   #242333;
$pink:    #ff6687;
$tan:     #f9ddd6;

@import "fonts";
@import "effects";

// * { border: 1px solid $black; }

html {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $gray;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: $tan url("../img/floral.svg") center center;
  background-blend-mode: soft-light;
  background-size: cover;
}

h1 {
  font-size: 1.75em;
  font-family: 'CircularStd', sans-serif;
  color: $black;
  line-height: 1.15;
  letter-spacing: -.016em;
}

ul {
  margin: 0;
}

p {
  font-size: 0.938em;
  line-height: 1.6;
  letter-spacing: 0.015em;
}

.main {
  background: $white;
  margin: 18px;
  padding: 40px;
}

.nav {

  .nav__desktop {
    display: none;
  }
}

#nav__logo {
  width: 42px;
  height: auto;
  display: block;
}


.menu {

  .menu__background {
    position: absolute;
    right: 61px;
    top: 61px;
    z-index: 100;
    width: 34px;
    height: 34px;
    background: $pink;
    border-radius: 50% 50% 50% 50%;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 $pink, 0 0 0 0 $pink;
    cursor: pointer;
  }

  //burger before

  input {
    display: none;
  }

  input:checked + .menu__background {
    box-shadow: 0 0 0 100vw $pink, 0 0 0 100vh $pink;
    border-radius: 0;

    // burger after
  }
  
  input:checked + .menu__background + ul {
    opacity: 1;
  }
  
  ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: .25s 0s ease-in-out;
  }
  
  a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
}

.intro{
  margin: 40px auto;
}

.bio {

  .hello__icon {
    width: 40px;
    height: auto;
  }

  h1 { 
    margin-top: 17px;
  }
}

// 768px+
@media (min-width: 48em) {


.nav {

  .nav__desktop {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

    li {
      display: inline;
    }
  }
}
  
}

// 1024px+
@media (min-width: 64em) {

}

// 1200px+
@media (min-width: 75em) {

}
