$white:		    #ffffff;
$gray:        #a2abb5;
$gray-light:  #f1f2f4;
$black:       #242333;
$pink:        #ff6687;
$pink-light:  #ffbdc9;
$tan:         #f9ddd6;

@import "fonts";
@import "effects";

// .header { border: 1px solid $black; }

html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $gray;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: $tan url("../img/floral_tan.jpg");
  background-size: 1440px auto;
  background-repeat: repeat;
  background-position: center center;
}

.fixed {
  position: fixed;
  overflow-y: scroll;
  height: 100%;
}

.blur {
  filter: blur(10px);
}

h1 {
  font-size: 1.75em;
  font-family: 'CircularStd', sans-serif;
  color: $black;
  letter-spacing: -.016em;
  line-height: 1.143;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875em;
  color: $black;
  font-weight: 600;
}

ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

p {
  font-size: 0.938em;
  letter-spacing: 0.015em;
  line-height: 1.666;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  color: $black;
}

.btn {
  font-size: 0.875em;
  font-weight: 500;
  padding: 18px 32px;
  background: $pink;
  color: $white;
  border-radius: 100px;
  display: inline-block;
}

.main {
  background: $white;
  margin: 18px;
  padding: 42px 42px 8px 42px;
  overflow: auto;
  transition: .3s filter linear;
-webkit-transition: .3s -webkit-filter linear;
-moz-transition: .3s -moz-filter linear;
-ms-transition: .3s -ms-filter linear;
-o-transition: .3s -o-filter linear;
}

.nav-mobile {

  .menu {
  
    .menu__bg {
      position: absolute;
      right: 61px;
      top: 61px;
      width: 36px;
      height: 36px;
      background: $pink;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
  
      transition: all .3s linear;
    }
  
    .menu__icon {
      width: 14px;
      position: relative;
          
      span {
        width: 100%;
        height: 2px;
        background: $white;
        display: block;
        border-radius: 100px;
  
        transition: all .3s linear;
    
          &:nth-child(1) {
            width: 8px;
          }
  
          &:nth-child(2) {
            margin: 4px auto;
          }
    
          &:nth-child(3) {
            width: 8px;
            margin-bottom: 0;
            margin-left: auto;
          }
      }
    }
  }
  
  .menu--open {
  
    .menu__bg {
      background: $pink-light !important;
    }
  
    .menu__icon {
    
      span {
        width: 100% !important;
        transform-origin: 50% 50% !important;
    
        &:nth-child(1) {
          transform: rotate(45deg) translate(4px, 4px);
        }
             
        &:nth-child(2) {
          opacity: 0;
        }
             
        &:nth-child(3) {
          transform: rotate(-45deg) translate(4px, -4px);
        }
      }
    }
  }

  ul {
    display: none;
  }

  .nav-mobile-bg {
    position: absolute;
    right: 61px;
    top: 61px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: $tan url("../img/floral_pink.jpg");
    background-size: 1440px auto;
    background-position: center center;
    background-repeat: repeat;
    z-index: 1;
  
    transition: all .6s linear;
  }
}
  
.nav-mobile--open {
  
  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    list-style-type: none;
    z-index: 2;
    opacity: 1;

    li {
      text-align: center;

      animation: slide-down 1s linear;

      a {
        color: $white;
        font-size: 1.75em;
        font-family: 'CircularStd', sans-serif;
        letter-spacing: -.016em;
        line-height: 1.143;
        margin: 15px 0;
        display: block;

        span {
          color: $pink-light;
        }
      }
    }
  }

  .nav-mobile-bg {
    width: 250vh;
    height: 250vh;
    top: calc(-125vh + 78px);
    right: calc(-125vh + 78px);
  }
}

.header {

  .header__logo {
    width: 42px;
    height: auto;
    display: block;
  }

  .nav-desktop {
    display: none;
  }
}

.intro {
  margin: 40px auto;

  .intro__bio {
  
    .hello-icon {
      width: 40px;
      height: auto;
    }
  
    h1 { 
      margin-top: 17px;
    }
  }

  .intro__illustration {
    display: none;
  }
}

footer {
  
  .footer__contact-link {
    border-top: 2px solid $gray-light;
    padding: 27px 0;

    h2 {
      margin: 0 0 5px;
    }

    p {
      margin: 0;
    }
  }

  .footer__contact-arrow {
    border-top: 2px solid $gray-light;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .arrow {
      width: 15px;
      height: auto;
    }
  }
}

#tr-footer{
  width:100%;
  height: 1px;
  background:transparent;
}

// 768px+
@media (min-width: 48em) {

  .nav-mobile {
    display: none;
  }

  .header {

    .nav-desktop {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        display: inline;
        font-size: 1.0625em;

        &:nth-of-type(2) {
          margin: 0 40px;
        }

        .fa-stack {
          display: inline-block;
          height: 36px;
          line-height: 36px;
          position: relative;
          vertical-align: middle;
          width: 36px;
        }
        
        .fa-2x {
            font-size: 0.9375em;
        }
        
        .fa-stack-2x {
            font-size: 37px;
        }
  
        .fa-stack-1x {
          left: 1px;
        }
      }
    }
  }
}

// 1024px+
@media (min-width: 64em) {

}

// 1200px+
@media (min-width: 75em) {

}
